*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container{

    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    background-color: #F2F2F2;
}

.add-transaction-menu-home-container{

    width: 84%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    outline: 0;
}

.container-add-transaction-button{

    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #FF7E00;
    border: 0;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container-add-transaction-button-icon{

    font-size: 56px;
    color: white;
}

.side-menu{

    display: flex;
    width: 16%;
}

.dashboard-container{

    display: flex;
    flex: 1;
    width: 84%;
    padding: 40px;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

/*--------------- BOX ---------------*/

.box-1{

    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.box-2{

    display: flex;
    padding: 30px;
    margin-left: 10px;
    align-items: center;
    width: 35%;
    margin-left: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

/*--------------- BOX ---------------*/

.home-chart-box{

    display: flex;
    height: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    align-self: stretch;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.home-transactions-box{

    display: flex;
    height: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-self: stretch;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: hidden;
}


.card-container{

    display: flex;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 70px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 16px;
    padding: 22px;
    background-color: #1D1D1D;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.6);
}

.card-top-container{

    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-welcome-text-fixed{

    font-weight: 700;
    font-size: 18px;
    color: white;
}

.card-welcome-text-username{

    font-weight: 700;
    font-size: 22px;
    color: #FF7E00;
}

.card-logo{

    font-size: 20px;
    color: #FF7E00;
}

.card-bottom-container{

    display: flex;
    flex-direction: column;
}

.card-bottom-text-fixed{

    margin-bottom: 10px;
    color: white;
}

.card-bottom-value{

    font-size: 32px;
    font-weight: 700;
    color: #FF7E00;
}

/*----------TRANSACTIONS----------*/

.title{

    align-self: stretch;
    font-size: 22px;
    font-weight: 700;
    color: #1D1D1D;
}

.transactions-container{

    display: flex;
    flex: 1;
    align-self: stretch;
    background-color: white;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*----------TRANSACTIONS----------*/

/*---------- CHART's ----------*/

.resume-transactions-container{

    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}

.chart-container{

    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 15px;
    border-radius: 14px;
}

.chart-top-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-bottom: 30px;
}

.home-chart-box-transactions-title-container{

    display: flex;
    flex-direction: row;
}

.home-chart-box-transactions-title-text{

    margin-right: 34px;
    font-size: 18px;
    font-weight: 700;
    color: #a5a5a5;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
    border: 0;
}

.home-chart-box-transactions-title-text-active{

    margin-right: 34px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #1D1D1D;
    outline: 0;
    background-color: transparent;
    border: 0;
}

.home-chart-box-transactions-chart-time-container{

    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 6px;
    background-color: #E6E6E6;
}

.home-chart-box-transactions-chart-time-item{

    margin: 4px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    color: gray;
    font-weight: 600;
}

.home-chart-box-transactions-chart-time-item:hover{

    margin: 4px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F5F5F5;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    color: gray;
    font-weight: 600;
}

.home-chart-box-transactions-chart-time-item-active{

    margin: 4px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fdfdfd;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    color: rgb(96, 96, 96);

}

.chart-top-time-select-container{

    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.chart-top-time-select-subcontainer{

    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px;
    background-color: #E6E6E6;
    cursor: pointer;
}

.chart-top-time-select-subcontainer:hover{

    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px;
    background-color: #CBCBCB;
    cursor: pointer;
}

.chart-top-time-select-title{

    margin-right: 14px;
}

.chart-top-time-select-icon{

    font-size: 20px;
}

.chart-top-time-select-list-container{

    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);

}

.chart-top-time-select-list-item{

    outline: 0;
    background-color: transparent;
    border: 0;
    padding: 6px;

}

.chart-top-time-select-list-item:hover{

    cursor: pointer;
    background-color: #E6E6E6;
    outline: 0;
    border: 0;
    padding: 6px;
}

/*---------- CHART's ----------*/


/*---------- COMPOSITION TRANSACTIONS ----------*/

.composition-transactions-container{

    display: flex;
    flex-direction: column;
}

.dashboard-cryptocoins-list-container{

    display: flex;
    flex-direction: column;
    align-self: stretch;

}

.dashboard-cryptocoins-list-top-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

}

.dashboard-cryptocoins-list{

    display: flex;
    flex-direction: column;
}

/*---------- COMPOSITION TRANSACTIONS ----------*/

.transaction-details-modal-container{

    width: 84%;
    height: 100%;
    top: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-self: stretch;
    position: absolute;
    overflow: hidden;
}