*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container{

    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    background-color: #F2F2F2;
}

.side-menu{

    display: flex;
    height: 100%;
    width: 16%;
}

.dashboard-container{

    display: flex;
    width: 84%;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
}

/*--------------- BOX ---------------*/

.box-1{

    display: flex;
    padding: 10px;
    width: 33%;
    flex-direction: column;
    align-items: center;
}

.box-2{

    display: flex;
    flex: 1;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.box-3{

    display: flex;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    width: 33%;
    flex-direction: column;
    background-color: white;
}

/*--------------- BOX ---------------*/


.card-container{

    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 70px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 16px;
    padding: 22px;
    background-color: #1D1D1D;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.6);
}

.card-top-container{

    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-welcome-text-fixed{

    font-weight: 700;
    font-size: 18px;
    color: white;
}

.card-welcome-text-username{

    font-weight: 700;
    font-size: 22px;
    color: #FF7E00;
}

.card-logo{

    font-size: 20px;
    color: #FF7E00;
}

.card-bottom-container{

    display: flex;
    flex-direction: column;
}

.card-bottom-text-fixed{

    margin-bottom: 10px;
    color: white;
}

.card-bottom-value{

    font-size: 32px;
    font-weight: 700;
    color: #FF7E00;
}

/*----------TRANSACTIONS----------*/

.title{

    margin-bottom: 10px;
    align-self: stretch;
    font-size: 26px;
    font-weight: 700;
    color: #1D1D1D;
}

.transactions-container{

    display: flex;
    flex: 1;
    padding: 16px;
    align-self: stretch;
    background-color: white;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}

/*----------TRANSACTIONS----------*/

/*---------- CHART's ----------*/

.resume-transactions-container{

    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}

.chart-container{

    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 14px;
    background-color: white;
}

.chart-top-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------- CHART's ----------*/


/*---------- COMPOSITION TRANSACTIONS ----------*/

.composition-transactions-container{

    display: flex;
    flex-direction: column;
}

.dashboard-cryptocoins-list-container{

    display: flex;
    flex-direction: column;
    align-self: stretch;

}

.dashboard-cryptocoins-list-top-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.dashboard-cryptocoins-list{

    display: flex;
    flex-direction: column;
}
/*---------- COMPOSITION TRANSACTIONS ----------*/