.transaction-details-container-main{

    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
}

.transaction-details-container{

    width: 75%;
    height: 100%;
    display: flex;
    background-color: transparent;
    overflow-y: hidden;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

.transaction-details-subcontainer{
    
    display: flex;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0px;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.transaction-details-top-container{

    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.transaction-details-left-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction-details-close-icon-container{

    display: flex;
    border: 0px;
    outline: 0px;
    background-color: transparent;
    cursor: pointer;
}

.transaction-details-title{

    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 3px;

}

.transaction-details-close-icon{

    font-size: 26px;
}

.transaction-details-main-container{

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}

.transaction-details-title-text{

    font-size: 14px;
    margin-bottom: 6px;
    color: #828282;
}

.transactions-details-category-text{

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    
}

.transactions-details-name-text{

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;

}

.transactions-details-description-text{

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;

}

.transactions-details-transfer-type-text{

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;

}

.transactions-details-value-text{

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;

}

.divider{

    margin-bottom: 30px;
    background-color: #CBCBCB;
}